In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')
df.shape

(404290, 6)

In [3]:
new_df = df.sample(30000)
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [4]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
256241,I’m upset that Trump won. What is the positive...,"I am very angry that trump won, what are some ..."
239375,How do you create a standalone UITabBar (not a...,How do you work on your self-control to not ta...
248933,Why is rich soil valuable in texas?,How do you build up nutrient-rich soil for gar...
324711,"Can I give cloves to a dog? If so, in what pro...",Why is my dog afraid of deep water?
376908,Where would you go if you get a time machine? ...,What would be the first thing you would do if ...

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
# merge texts
questions = list(ques_df['question1']) + list(ques_df['question2'])

In [6]:
cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [7]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [8]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
256241,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
239375,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
248933,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
324711,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
376908,0,0,0,0,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109196,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
108786,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
303886,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
343025,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
371203,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [10]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
256241,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
239375,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
248933,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
324711,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
376908,0,0,0,0,0,0,0,0,0,0,...,0,3,0,0,0,0,0,0,0,0

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7428333333333333

In [13]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)

C:\Users\DEVESH TRIPATHI\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
C:\Users\DEVESH TRIPATHI\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[19:57:14] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [14]:
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

0.7196666666666667